body {
	margin: 0;
	padding: 0;
}

.ubuntu-condensed {
	font-family: "Ubuntu Condensed", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.ubuntu-condensed-bold {
	font-family: "Ubuntu Condensed", sans-serif;
	font-weight: 700;
	font-style: normal;
}
.ubuntu-light {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.ubuntu-regular {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.ubuntu-medium {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	font-style: normal;
}

.ubuntu-bold {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-style: normal;
}

.ubuntu-light-italic {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-style: italic;
}

.ubuntu-regular-italic {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-style: italic;
}

.ubuntu-medium-italic {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	font-style: italic;
}

.ubuntu-bold-italic {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-style: italic;
}

.mc-title {
	font-family: 'Manufacturing Consent', system-ui;
	font-weight: 400;
	font-style: normal;
}

.background-img {
	height: calc(95vh);
	background-image: url('../img/hero.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
}

.background-img::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: inherit;
	background-size: inherit;
	background-position: inherit;
	filter: grayscale(1) brightness(0.2);
	z-index: 0;
}

.background-img > * {
	position: relative;
	z-index: 1;
}

.grayscale-img {
	filter: grayscale(100%) brightness(75%);
}

.card-img-top.grayscale-img {
	height: 16rem !important;
	object-fit: cover;
}

@media (min-width: 768px) {
	.card-img-top.grayscale-img {
		height: 20rem !important;
		object-fit: cover;
	}
}

.social-icon-link {
	opacity: 0.75;
	transition: all 0.3s ease;
}

.social-icon-link:hover {
	opacity: 1;
	filter: brightness(1.2);
}
