{% load static %}
<div class="d-flex flex-column justify-content-between w-100 bg-dark background-img">
    <div class="container">
        <h1 class="display-4 px-3 mt-5 mc-title text-white">Murder Creek Barbell</h1>
    </div>
    <div class="container d-flex flex-column justify-content-end align-items-center mb-5 pb-5 flex-grow-1">
        <h2 class="text-center fs-1 text-white ubuntu-bold w-100">
            Your Final Gym
        </h2>
        <p class="text-center fs-3 text-white ubuntu-semibold w-100">
            - 24 Hour Access
        </p>
        <div class="d-flex align-items-center justify-content-center gap-2">
            <button class="btn btn-lg btn-light">Join Now</button>
            <button class="btn btn-lg btn-outline-light">FAQ</button>
        </div>
    </div>
</div>